<footer class=" bg-yellow text-dark">
    <div class="row py-5">
    
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">*Company*</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" <a class="nav-link "  href="{% url 'store:contact' %}">Help &amp; Contact Us</a></li>
          <li><a class="footer-link" href="#">Returns &amp; Refunds</a></li>
          <li><a class="footer-link"href="#">The Phone Zone store</a></li>
          <li><a class="footer-link" href="{% url 'store:termandcodition' %}">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">*Services*</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" >What We Do</a></li>
          <li><a class="footer-link" >Available Services</a></li>
          <li><a class="footer-link" >Latest Posts</a></li>
          <li><a class="footer-link" >FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase mb-3">*Social-App*</h6>
        <ul class="list-unstyled mb-0">
          <li><a class="footer-link" href="https://twitter.com/">Twitter</a></li>
          <li><a class="footer-link" href="https://www.instagram.com/">Instagram</a></li>
          <li><a class="footer-link" href="https://www.facebook.com/">FaceBook</a></li>
          <li><a class="footer-link" href="https://in.pinterest.com/">Pinterest</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top pt-4" style="border-color: #1d1d1d !important">
      <div class="row">

       <div class="col-lg-6">
          <p class="small text-muted mb-0">&copy; BCA DEVELOPERS</p>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p class="small text-muted mb-0">Website by:  urs<a class="text-white reset-anchor" target="_blank">usha vadher</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>