{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="container">
      <h3 >  Term And Condition: </h3>
      <form action="/store/termandcondition/" method="post">{% csrf_token %}
       <h4> 1. Privacy & Security</h4>

<P>Not to be confused with your standalone privacy policy, an effective eCommerce terms of service should include your privacy and security terms.</P><p> This data protection/privacy clause should clearly state what personal information of your shopper you use and store, and how it is protected.</p>

<p>This clause deals with the legality of your standalone privacy policy, including things like how your store brand handles things like security control, privacy policy changes and lists of legal disclosures.</p><p> Alternatively, some are very short and include something like this: “Please refer to our Privacy Policy [linked] for our full privacy and security practices.”</P>

<p>Don’t forget to also add if you will be collecting UGC from Instagram marketing or other social channels and how they will be shared.
</p>
<h4> 2. Delivery Terms</h4>
<p>The delivery terms clause of the eCommerce terms and conditions is also often referred to as the ‘shipping policy’ and includes the basic shipping/delivery policy for your online store. These can be short and concise, or more comprehensive.</p><p> Some brands opt to add just a simple line directing shoppers to a separate shipping/delivery document:
</p>
<h4>3. Payment Terms</h4>
<p>This is where you outline how payments are made when a shopper purchases a product from your store, and includes the terms and conditions involved in payment. In other words: the full payment needs to be made by [payment term], after which orders will be dispatched.</p><p> This can also include special fees or billing charges, shipping taxes and more that may be relevant.
</p>
<h4>4. Billing Information Terms and Conditions</h4>
 <p> Billing accuracy is an essential clause for your terms and conditions template.</p><p> This is where you outline your policy on restrictions based on sales quantities per person, as well as what the buyer is agreeing to, such as ensuring that they are providing complete, current and accurate account informatio
</p>
<h4>5. Copyrights</h4>
 <p> To protect yourself, you need to include a trademark – intellectual property of copyright – clause. </p><p>This clause protects your images, content, product names, business name, logos and design. In some cases, this info is included info under one heading, while other store owners opt for having different clauses outline the conditions for each</p>
<!-- SERVICES-->
<div class="border-top pt-3" style="border-color: #1d1d1d !important">
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4 mb-3 mb-lg-0">
          <div class="d-inline-block">
            <span class="font-weight-bold text-uppercase text-info">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#delivery-time-1"> </use></span>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1"><span class="font-weight-bold text-uppercase text-info">Free shipping</span></h6>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
          <div class="d-inline-block"><span class="font-weight-bold text-uppercase text-info">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#helpline-24h-1"> </use></span>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1"><span class="font-weight-bold text-uppercase text-info">24 x 7 service</span></h6>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block"><span class="font-weight-bold text-uppercase text-info">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#label-tag-1"> </use></span>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1"><span class="font-weight-bold text-uppercase text-info">Festival offer</span></h6>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top pt-3" style="border-color: #1d1d1d !important">
  </div>

</section>




    {% endblock content %}